* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Poppins, sans-serif;
}

:root {
    --font-heading: "Sen", sans-serif;
    --width-container: 1170px;
    --height-header: 106px;
    --primary-color: #ffb900;
    --secondary: #fffcf4;
    --black-color: #171100;
    --text-color: #5f5b53;
    --bg-secondary: #2e2100;
}

/* Common */

.line-number {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container {
    width: var(--width-container);
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    background-color: var(--black-color);
    color: #fff;
    text-align: center;
    padding: 17px 20px;
    border-radius: 999px;
    font-size: 1.4rem;
    font-weight: 600;
    transition: all linear 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

/* =============== Header =============== */
.header {
    height: var(--height-header);
    padding-top: 36px;
    padding-bottom: 20px;
    background-color: var(--secondary);
    position: sticky;
    top: -16px;
    z-index: 1;
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar a {
    text-decoration: none;
}

.header .navbar .logo {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--black-color);
}

.header .navbar .logo::after {
    content: attr(dot-end);
    color: var(--primary-color);
}

.header .navbar .list {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header .navbar .item:hover a {
    color: var(--black-color);
}

.header .navbar .item a {
    position: relative;
    display: inline-block;
    margin: 0 21px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--text-color);
    transition: all linear 0.25s;
}

.header .navbar .item a::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--black-color);
    transition: linear 0.2s;
    border-radius: 4px;
}

.header .navbar .item:hover a::after {
    width: 100%;
}

.header .navbar .sign-up-btn {
    min-width: 144px;
    margin-left: 49px;
    font-size: 1.6rem;
}

/* =============== Header =============== */
.hero {
    background-color: var(--secondary);
    padding-top: 44px;
    padding-bottom: 65px;
}

.hero .row {
    display: flex;
    align-items: center;
}

.hero figure.image-block {
    width: 570px;
    position: relative;
}

.hero figure .image {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.hero figure .card {
    position: absolute;
    width: 270px;
    right: 0;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
}

.hero figure .card-item {
    margin-top: 14px;
}

.hero figure .card-item:first-child {
    margin-top: 0;
}

.hero .card-item .info {
    margin-left: 16px;
}

.hero .card-item .quantity {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--text-color);
}

.hero .card-item .name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--black-color);
}

.hero .hero-info {
    padding-left: 130px;
    flex: 1;
}

.hero .hero-info .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    color: var(--black-color);
    letter-spacing: -0.02em;
}

.hero .hero-info .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
}

.hero .hero-info .actions {
    margin-top: 38px;
}

.hero-info .actions a {
    text-decoration: none;
}

.hero-info .actions .see-course-btn {
    color: #fff;
    background-color: var(--primary-color);
    min-width: 180px;
    padding: 24px 20px;
    font-size: 1.8rem;
}

.hero-info .watch-video-btn {
    padding: 16px 28px;
}

.hero-info .watch-video-btn .icon {
    display: flex;
    width: 40px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 999px;
    margin-right: 14px;
}

.hero-info .watch-video-btn .icon img {
    margin: auto;
}

.hero-info .watch-video-btn .label {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--black-color);
}

.hero-info .engagement {
    margin-top: 48px;
}

.hero-info .engagement .title {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--text-color);
}

.hero-info .engagement .row-stats {
    margin-top: 8px;
    gap: 28px;
}

.hero-info .engagement .quantity {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    color: var(--black-color);
}

.hero-info .engagement .label {
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 8px;
}

/* =============== Popular section =============== */

.popular-section {
    padding: 200px 0;
}

.popular-section .row {
    display: flex;
    align-items: center;
}

.popular-section .header-popular {
    justify-content: space-between;
}

.popular-section .header-popular .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: var(--black-color);
}

.popular-section .header-popular .desc {
    margin-top: 1.6rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
    width: 458px;
}

.header-popular .nav-slide .arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 999px;
}

.header-popular .nav-slide .arrow-btn + .arrow-btn {
    margin-left: 18px;
}

.header-popular .nav-slide .prev-btn {
    border: 1px solid var(--primary-color);
}

.header-popular .nav-slide .next-btn {
    background-color: var(--primary-color);
}

.popular-section .body-popular {
    margin-top: 55px;
}

.popular-section .body-popular .courses {
    --gap: 30px;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--gap));
}

.body-popular .courses .course-item {
    margin-left: var(--gap);
    margin-bottom: var(--gap);
    width: calc(33.3333% - var(--gap));
    border-radius: 12px;
    display: block;
}

.body-popular .courses .course-item:hover .info {
    border: 1px solid transparent;
    border-top: none;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.body-popular .courses .course-item:hover .btn {
    background-color: var(--primary-color);
}

.courses .course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
}

.courses .course-item .info {
    display: block;
    padding: 16px 22px 22px 22px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: all linear 0.25s;
}

.courses .course-item .info .name {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--black-color);
}

.courses .course-item .info .rate {
    margin-left: auto;
    color: var(--primary-color);
}

.course-item .info .rate .number {
    margin-left: 6px;
}

.courses .course-item .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: var(--text-color);
}

.courses .course-item .row-cta {
    margin-top: 12px;
}

.courses .course-item .row-cta .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--black-color);
}

.courses .course-item .row-cta .book-now-btn {
    text-decoration: none;
    margin-left: auto;
}

/* =============== Feedback =============== */

.feedback {
    padding: 96px 0;
    background-color: var(--bg-secondary);
}

.feedback .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback .student {
    min-width: 160px;
    max-width: 250px;
}

.feedback .student .avatar {
    width: 72px;
    height: 72px;
    border-radius: 999px;
}

.feedback .student .name {
    margin-top: 18px;
    display: block;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback .student .class {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback .student .dots {
    margin-top: 28px;
    justify-content: flex-start;
}

.feedback .student .dots .dot {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background: #634700;
}

.feedback .student .dots .dot + .dot {
    margin-left: 6px;
}

.feedback .student .dots .dot.active {
    background-color: var(--primary-color);
}

.feedback .message {
    width: 740px;
    position: relative;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

.feedback .message .quotes {
    position: absolute;
    left: -30px;
    top: -28px;
}

/* =============== CTA Section =============== */

.cta-section {
    padding: 200px 0;
}

.cta-section .row {
    display: flex;
    align-items: center;
    gap: 130px;
}

.cta-section .images-block {
    display: flex;
    gap: 30px;
    width: 570px;
    height: 438px;
}

.cta-section .images-block .image {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    align-self: flex-end;
    object-fit: cover;
    object-position: center;
}

.cta-section .images-block .image:first-child {
    align-self: flex-start;
}

.cta-section .info {
    flex: 1;
}

.cta-section .info .title {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: var(--black-color);
}

.cta-section .info .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--text-color);
    margin-top: 16px;
}

.cta-section .info .cta-btn {
    min-width: 137px;
    background: var(--primary-color);
    font-size: 1.6rem;
    text-decoration: none;
    margin-top: 32px;
}

.cta-section .row + .row {
    margin-top: 200px;
}

.cta-section .image-block {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}
